html{
    /*background-color: #22092C;*/
    background-image: url(Images/IMG_20260823_220337_492.jpg); /*<-could use this to make a cusotm background*/
    color: #F05941;
    /*text-shadow: -2px -2px black; */
    /*-webkit-text-stroke: 4px #FFA928;*/ 
    text-align:  center;
    font-family: "Jolly Lodger", system-ui;
}






h1{
    text-align: center;
    font-size: 100pt;
    font-family: "Creepster", system-ui;
    font-weight: 100;
    font-style: normal;
    -webkit-text-stroke: 4px #FFA928;
}


h2{
    text-align:center;
    font-size: 45pt;
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    font-style: normal;
            -webkit-text-stroke: 3px #FFA928;
}


p{
    color: #F05941;
    /*-webkit-text-stroke: 1px darkorange; */
    text-shadow: -3px -3px black;
    text-align: center;
    margin: 0%;
    font-size: 50pt;
    
}


#InvitationText {
    border: 0px solid white;
    padding: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2;
    p{
        font-size: 50pt;
        text-shadow: -2px -3px black;
    }
}


#MainImage {
    /* border: 1px solid white; */
    ul{text-align: center;}
    img {
        width: 90%;
        height: 100%;
    }
    




}


#requirements{
/* text-shadow: -3px -3px black; */

    h2 {
        text-align: center;
        font-size: 80px;
    }


    p{
        text-shadow: -2px -2px black;
    
    }

    li{
        text-align: center;
        text-shadow: -3px -3px black;
        


    }


    ol{
        font-size: 50pt;
        font-weight: 100;
        /*webkit-text-stroke: 3px darkred*/
        
    }


}


hr{
    border: 5px solid rgba(254, 252, 253, 0.513);
    border-radius: 3px;
    
    
}


a {
    /* -webkit-text-stroke: 1px rgb(208, 0, 255); */
    color:#ff006f
}




footer{
    text-shadow: -3px -3px black;
    text-align: center;
    font-size: 50px
}

#balls {
    -webkit-text-stroke: #FFA928 1px;
}